<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaxiLIVRE</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header id="cabecalho">
        <hgroup>
            <img id="iconL" src="img/taxiLivre.png"/>
            <img id="iconR" src="img/fip.png"/>
            <br>
            <h2><%= text %></h2>
        </hgroup>
    </header>
    <div>
        <a href="about">Sobre</a>
        <!-- <nav id="menu">
            <ul>
                <li><a href="about.ejs">Sobre</a></li>
                <li><a href="specs.html">Sobre</a></li>
                <li><a href="fotos.html">Vendas ao consumidor</a></li>
                <li><a href="multimidia.html">Distribuidor</a></li>
                <li><a href="fale-conosco.html">Fale conosco</a></li> 
            </ul>
        </nav> -->
    </div>

</body>
</html>